html {
  position: relative;
	min-height: 100%;
}

body {
  margin: 0 0 47px 0;
  padding: 0;
  text-align: center;
  background: linear-gradient(#222, #111) no-repeat center fixed;
  background: linear-gradient(#101010, #222) no-repeat center fixed;
  color: #fff;
  font-family: 'Oswald', sans-serif;
}
